@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-2xl font-bold text-text;
}

h2 {
    @apply text-xl font-semibold text-text;
}

h3 {
    @apply text-lg font-semibold text-text;
}

h4 {
    @apply text-base font-semibold text-text;
}

h5 {
    @apply text-sm font-semibold text-text;
}

h6 {
    @apply text-xs font-semibold text-text;
}

p {
    @apply text-base text-text;
}

strong {
    @apply font-bold;
}

em {
    @apply italic;
}

.image-style-align-left {
    float: left;
    margin-right: 10px;
    max-width: 50%;
}

.image-style-align-right {
    float: right;
    margin-left: 10px;
    max-width: 50%;
}

.image-style-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
    max-width: 50%;
}